html {
  margin: 0;
  padding: 0;

}
body {
  background-color: #565656;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}



#wrap {
  background-color: #010000;
  background-color: #212226;
  width:960px; /* 366px + 594px makes golden ratio*/
  margin:0 auto;
  padding-top: 1em;
}
#header {
  background-color: #212226;
  background-color: black;
  padding-bottom:1em;
  height: 130px;
}
#header img{
  height: 130px;
}
#header h1{
  float: right;
}
.main {
  min-height: 540px;
  padding-top: 1em;
  padding-bottom: 1em;
}
#main {
}
#mainWithSidebar {
  background-color: #212226;
  width: 710px;
  float: right;


}
#sidebar {
  background-color: #212226;
  float:left;
  width: 250px;
}
#footer {
  padding-top: 0.5em;
  clear: both;
  background-color: #212226;
  background-color: #565656;
}

/*
the main menu at the top
*/
#menu{
  height: 30px;
  width: 50%;
  margin: auto;
  margin: 0;
  background-color: black;
float:right;

}
#menuList {
  list-style-type: none;
  text-align: justify;
  height: 21px;
  margin: 0;
  padding: 0.3em;
  background-color: #565656;
}

#menuList li {
  display: inline;
  
}

#menuList li a {
  text-align: left;
  display: inline-block;
  text-decoration: none;
  color: #e36920;
  font-weight: bold;
}

#menuList .stretch {
  display: inline-block;
  width: 100%;
  zoom: 1;
}

/*
 / the main menu at the top
*/

/*
  the footer menu at the bottom
*/

#footerMenu{
  height: 30px;
  width: 50%;
  border-top: 1px solid #d98555;
}
#footerMenuList {
  list-style-type: none;
  text-align: justify;
  height: 21px;
  margin: 0;
  padding: 0.3em;

}

#footerMenuList li {
  display: inline;
}
#footerMenuList li:last-child {
}

#footerMenuList li a {
  text-align: left;
  display: inline-block;
  text-decoration: none;
  color: #d98555;
  font-size: 0.8em;
  border-left: 1px solid #d98555;
  padding-left: 0.5em;
}

#footerMenuList .stretch {
  display: inline-block;
  width: 100%;
  zoom: 1;
}

/*
  / the footer menu at the bottom
*/

.sideMenu {
  width: 20%;
  height: 100%;
  float: left;

}
.mainMenu {
  float: left;
  width: 70%;
  height: 100%;

}









h1{
  color: #e36920;
  margin: 0;
  padding: 0;
}

form > h1, h2, h3, h4, h5{
  color: #d9d9d9;
  font-weight: normal;
  font-size: 1em;
}
form > h1{
  margin: 0;
  padding: 0;
  margin: 0.5em 0;
  font-size: 1.3em;
}
form > h2{
  margin: 0;
  padding: 0;
}
form > h3{
  margin: 0;
  padding: 0;
}


.bubble_description{
  padding: 1em;
}
.bubbleTitle{
  font-size: 1.3em;
  color: gray;
}

.event {
  border: 2px solid black;
  font-size: 0.8em;
}
.event_id:before {
  content: "id:  ";
}
.event_name:before {
  content: "name:  ";
}
.event_location:before {
  content: "location:  ";
}
.event_address:before {
  content: "address:  ";
}
.event_city:before {
  content: "city:  ";
}
.event_price:before {
  content: "price:  ";
}
.event_date:before {
  content: "date:  ";
}
.event_time:before {
  content: "time:  ";
}
.event_everyWeek:before {
  content: "everyWeek:  ";
}
.event_email:before {
  content: "email:  ";
}
.event_homepage:before {
  content: "homepage:  ";
}
.event_visible:before {
  content: "visible:  ";
}
.event_submitter:before {
  content: "submitter:  ";
}
.event_description:before {
  content: "description:  ";
}

.color1 { color: #222222;}
.color2 { color: #232822;}
.color3 { color: #212226;}
.color4 { color: #101612;}
.color5 { color: #0f0d0e;}
.color6 { color: #060100;}
.color7 { color: #090400;}
.color8 { color: #ec6b17;}
.color9 { color: #1a1819;}
.color10 { color: #303030;}
.color11 { color: #2d2d2d;}
.color12 { color: #1e1c1d;}
.color13 { color: #080808;}
.color14 { color: #040404;}
.color15 { color: #e36920;}
.color16 { color: #151515;}
.color17 { color: #030102;}
.color18 { color: #010506;}
.color19 { color: #0e0c0d;}
.color20 { color: #050505;}
.color21 { color: #1e1e1e;}
.color22 { color: #222021;}
.color23 { color: #f9fdff;}
.color24 { color: #fbfffc;}
.color25 { color: #121011;}
.color26 { color: #020202;}
.color27 { color: #fdfdfd;}
.color28 { color: #181818;}
.color29 { color: #171516;}
.color30 { color: #252326;}
.color31 { color: #20282a;}
.color32 { color: #151314;}
.color33 { color: #f5ffff;}
.color34 { color: #fefffb;}
.color35 { color: #d9d9d9;}
.color36 { color: #060606;}
.color37 { color: #080607;}
.color38 { color: #0f0802;}
.color39 { color: #0a0200;}
.color40 { color: #0b0b0b;}
.color41 { color: #0d0d0d;}
.color42 { color: #141213;}
.color43 { color: #0a0809;}
.color44 { color: #0a0a0a;}
